[2019-04-26 00:52] soyjonathanespinosa opened #14 "Error on Install Migrations"
Hi, I was trying to install your package, but I have an error and your migration and config publish don't work:

![error_laravel-acl](https://user-images.githubusercontent.com/18094435/56776704-5e369680-6793-11e9-80ab-8b015971bec2.png)

Migrating: 2019_03_16_005237_create_permissions_table

   Illuminate\Database\QueryException  : SQLSTATE[42000]: Syntax error or access violation: 1103 Incorrect t

[2019-04-26 01:01] mateusjunges commented on #14
Which version are you trying to use?

[2019-04-26 01:01] soyjonathanespinosa commented on #14
Package operations: 1 install, 0 updates, 0 removals
  - Installing mateusjunges/laravel-acl (1.0.3): Loading from cache

[2019-04-26 01:05] soyjonathanespinosa commented on #14
I had to put manually the config file, then clear config cache, now I have:

Migrating: 2019_03_16_005538_create_user_has_permissions_table

   Illuminate\Database\QueryException  : SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint (SQL: alter table `user_has_permissions` add constraint `user_has_permissions_user_id_foreign` foreign key (`user_id`) references `users` (`id`) on

[2019-04-26 01:14] soyjonathanespinosa commented on #14
Fixed and now working.

1.- Migrations are not working due config('acl.tables') at first installation, so is not getting config file in your package, then, config publish not working, so I had to copy acl.php to config and then clear cache and fixed.

2. Second error about creating foreing keys are due bigInteger user_id field, I already changed to integer and fixed.

Let me know your comments.

[2019-04-26 01:24] soyjonathanespinosa commented on #14
Another Problem:

php artisan group:create Super Admin super-admin Super Administrador
  Too many arguments, expected arguments "command" "name" "slug" "description".

[2019-04-26 01:56] mateusjunges commented on #14
The first problem is being fixed right now. About the second one, try using quotes in the arguments. This should work:

php artisan group: create "Super Admin" "super-admin" "Super Administrator"

[2019-04-26 02:19] #14 closed

[2019-04-26 02:27] mateusjunges commented on #14
The problem was fixed in version 1.1.0. Thank you for your report. Make sure your users table is using bigIncrements / bigInteger as the primary key. Now the publishes should work correctly.

[2019-04-26 02:28] soyjonathanespinosa commented on #14
Thank you

[2019-04-26 02:32] mateusjunges commented on #14
Sorry, about the command, i miss a space between the group and create:
`php artisan group: create "Super Admin" "super-admin" "Super Administrator"`
The correct command is:
`php artisan group:create "Super Admin" "super-admin" "Super Administrator"`

[2019-04-26 17:35] soyjonathanespinosa opened #20 "How to catch Exception 403"
Can you please tell me how to catch or handle your 403 exeption pls.

Thank you

[2019-04-26 19:36] mateusjunges commented on #20
Can you post your code?

[2019-04-26 19:45] soyjonathanespinosa commented on #20
Which code? I just want to catch this:

![image](https://user-images.githubusercontent.com/18094435/56832472-bb812500-6831-11e9-83aa-835731d970d8.png)

to redirecto to a notification and no to the 403 page, I did that with Spatie Permissions, but I can't find your exception.

Example with Spatie permissions:

if ($exception instanceof \Spatie\Permission\Exceptions\UnauthorizedException) {

[2019-04-26 19:47] soyjonathanespinosa commented on #20
This is your exception?

![image](https://user-images.githubusercontent.com/18094435/56832636-292d5100-6832-11e9-993b-c14da5910f67.png)

[2019-04-26 19:51] mateusjunges commented on #20
Now i understand. You can add this to you Handler:
`use Junges\ACL\Exceptions\Unauthorized;`
and in the render function:

[code]

[2019-04-26 19:52] mateusjunges commented on #20
I'll add it to the README file. Thank you again!

[2019-04-26 19:54] soyjonathanespinosa commented on #20
Now working (The sites trying to redirect to much times):

![image](https://user-images.githubusercontent.com/18094435/56833121-3434b100-6833-11e9-9cb0-8f3295dcd2a7.png)

Best regards

[2019-04-26 20:00] mateusjunges commented on #20
Post the code in your handler function please, because for me it is working very well

[2019-04-26 20:01] soyjonathanespinosa commented on #20
I am in Exceptions\Handler.php and here is my function:

public function render($request, Exception $exception)
    {
        if ($exception instanceof Unauthorized) {
            return redirect()->route('dashboard')
            ->with('message_error', ''.Lang::get('backend.nopermissions').'');
        }

        if ($exception instanceof \Illuminate\Session\TokenMismatchException) {

[2019-04-26 20:05] mateusjunges commented on #20
I'm using the same, and it is working:
[code]

[2019-04-26 20:06] mateusjunges commented on #20
I'll debug and give you an answer asap

[2019-04-26 20:14] mateusjunges opened #21 "Add exceptions and Fix README"
- [ ] Add explanations on how to capture and handle exceptions generated in the package.
- [x] Fix README documentation about `permissionOrGroup` middleware. It is showing `\Junges\ACL\Middlewares\PermissionOrGroup::class` instead of `\Junges\ACL\Middlewares\PermissionOrGroupMiddleware::class`.

[2019-04-26 20:16] soyjonathanespinosa commented on #20
Working now, the problem was I am trying to redirect dashboard and protecting dashboard too hahahaha.
Sorry.

[2019-04-26 20:20] mateusjunges commented on #20
hahahah
It's good that it's working!
Any problems please report.
Thanks!

[2019-04-26 20:20] #20 closed

[2019-04-26 20:41] #21 closed

[2019-04-27 17:09] mateusjunges opened #23 "Show permissions"
- [x] Create an artisan command to show all the permissions on the database

[2019-04-27 22:36] #23 closed

[2019-04-27 22:51] mateusjunges opened #26 "Translation files"
- [x] Add translation for messages in exceptions

[2019-04-27 23:31] mateusjunges commented on #26
Added german, english, french, italian, portuguese and russian translations.

[2019-04-27 23:44] #26 closed

[2019-04-28 05:44] mateusjunges opened #29 "New blade directives"
## Create following new custom blade directives:
- [x] elsegroup
- [x] elsepermission
- [x] anypermission
- [x] anygroup
- [x] allpermissions
- [x] allgroups

[2019-04-28 05:48] mateusjunges opened #30 "Update composer.json"
## Update composer.json
Update the composer.json `require` section

[2019-04-28 06:05] mateusjunges opened #31 "Throw exception while creating duplicate permission"
Throw exception while creating duplicate permission.
Is currently returning the following error:
[code]

[2019-04-28 06:06] mateusjunges opened #32 "Throw exception while creating duplicate group"
## Throw new exception while creating duplicate group.
Currently returnin SQL error:
[code]

[2019-04-28 16:42] #29 closed

[2019-04-28 16:50] mateusjunges opened #34 "is_numeric and is_string verification"
## is_numeric and is_string conflicts
Change
[code]
for
[code]
because `is_string('5')` returns `true`, and the check for `is_numeric` is not executed.

[2019-04-28 16:58] #34 closed

[2019-04-28 17:40] #31 closed

[2019-04-28 17:40] #32 closed

[2019-04-28 18:00] #30 closed

[2019-04-29 01:39] mateusjunges opened #39 "Fix typo on README"
Fix typo on [Usage](https://github.com/mateusjunges/laravel-acl#usage) section of the README.md
Showing `?` instead of `:`.

[2019-04-30 15:17] #39 closed

[2019-04-30 23:57] mateusjunges opened #42 "Scope user to group model"
## Add new scope to Group model
- [x] Add `user` scope to the \Junges\ACL\Http\Models\Group class

[2019-04-30 23:58] mateusjunges opened #43 "Scope user to permission model"
## Add new scope to the permission Model

- [x] Add new `user` scope to the permission model, to certain queries only to permissions assigned to the specified user

[2019-05-02 10:44] mateusjunges opened #44 "Typo on ACLServiceProvider"
Fix typo on ACLServiceProvider
[code]
instead of
[code]

And

[code]
instead of
[code]

[2019-05-02 18:44] #43 closed

[2019-05-02 19:14] #42 closed

[2019-05-02 19:22] #44 closed

[2019-05-03 16:48] mateusjunges opened #51 "permission:show artisan command calling count() on array"
**Describe the bug**
The `permission:show` artisan command is calling the `count()` function on array.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `php artisan permission:show`
2. See error

[2019-05-03 16:50] #51 closed

[2019-05-04 14:50] wilo-ahadi opened #54 "The groups' name on the select need "[]""
The groups'name need double quote "groups[]" : https://github.com/mateusjunges/laravel-acl/blob/2357c686a3d9f416691fcec7088a91a453792c4e/src/resources/views/_forms/users/add-group.blade.php#L30 ... thanks for this tool

[2019-05-04 16:24] mateusjunges commented on #54
Sorry about that. I'll fix it as soon as possible.Thanks for your report.

[2019-05-04 16:33] #54 closed

[2019-05-04 16:37] mateusjunges commented on #54
## Issue has been fixed on version [1.4.2](https://github.com/mateusjunges/laravel-acl/tree/1.4.2)
If you find any other problem, please feel free to report then.

[2019-05-04 21:06] wilo-ahadi opened #56 "$permissions aren't selected in _forms/groups/group.blade.php"
the $model must be "config('acl.models.permission')" : https://github.com/mateusjunges/laravel-acl/blob/a855879540dfc38f0b8a76c3bb74d172526a46f3/src/Traits/GroupsTrait.php#L28 ... it's why the $group's $permissions aren't selected in the form : https://github.com/mateusjunges/laravel-acl/blob/a855879540dfc38f0b8a76c3bb74d172526a46f3/src/resources/views/_forms/groups/group.blade.php#L50

[2019-05-04 21:35] #56 closed

[2019-05-04 21:38] mateusjunges commented on #56
Fixed on [1.4.3](https://github.com/mateusjunges/laravel-acl/tree/1.4.3)

[2019-05-05 05:24] mateusjunges opened #59 "Throws exception when assing a non existing permission/group to user or permission to group"
## Error description
When trying to add a non existing permission, this error shows up.
![Screenshot from 2019-05-05 02-18-08](https://user-images.githubusercontent.com/19756164/57188867-65208000-6edc-11e9-8885-e4acc71e5793.png)

I think is better to the user experience if a Exception is thrown than the error above.

[2019-05-06 00:10] wilo-ahadi opened #61 "it should be $g->name"
https://github.com/mateusjunges/laravel-acl/blob/a855879540dfc38f0b8a76c3bb74d172526a46f3/src/resources/views/_forms/users/add-group.blade.php#L41

[2019-05-06 00:44] mateusjunges opened #62 "Infinite loop using Gate::allows and Gate::denies or can()"
the `isAdmin()` function on the `UsersTrait` is causing a infinite loop while checking for permissions.
The solution is replace the `$user->can('admin') with `$user->hasPermission('admin')`

[2019-05-06 00:53] #61 closed

[2019-05-06 00:53] #62 closed

[2019-05-10 20:51] mateusjunges commented on #59
## About revoke non existing group/permissions

If you try to remove a non-existent permission or group from a user, the package will not show any alert/exception, since if the permission/group does not exist, obviously the user does not have this permission or group, and this can be considered removed .

[2019-05-10 20:58] #59 closed

[2019-05-10 21:10] mateusjunges opened #67 "New methods to handle permissions and groups"
# Add new methods on package traits to handle user permission and groups

- - [x] Add method `revokeAllPermissions` in `UsersTrait` (remove all user permissions)
  - - [x] Add method `revokeAllGroups` in `UsersTrait` (remove all user groups)
- - [x] Add method `revokeAllPermissions` in `GroupsTrait` (remove all group permissions)

[2019-05-11 19:42] elmakong opened #68 "seeder programatically"
1st, i tried to use artisan command with phpstorm, but the command seems to be not registered(no autocomplete).
2nd, when trying to call artisan command [programmatically,](https://laravel.com/docs/5.8/artisan#programmatically-executing-commands) it cant bypass the confirm function inside the CreateGroup.php(console\commands).
also, there is Portuguese language in that confirmation prompt, maybe u

[2019-05-12 01:08] mateusjunges commented on #68
I think you can create a seeder for your application using the `php artisan make:seed SomAwesomeName`
and defining you permissions and groups there. Then, you can use the `assignPermissions(['permission-slug'])` function to assing permissions for you system users or groups.

For example:

[code]

[2019-05-12 01:09] mateusjunges commented on #68
About the portuguese language, i'll change to english.

[2019-05-12 01:15] mateusjunges commented on #68
About use the commands programatically, the commands were created to be used through the CLI, not programmatically, since you can use database seeds to create the permissions in your database.

[2019-05-12 16:19] mateusjunges opened #69 "Change package language"
# Change package languages
- Change commands output language to english #68

[2019-05-12 16:42] #69 closed

[2019-05-12 16:47] mateusjunges commented on #68
I changed the commands that were in Portuguese and changed it to English. I hope it helps.
These changes are in the version [1.6.1](https://github.com/mateusjunges/laravel-acl/tree/1.6.1). Here is the [changelog](https://github.com/mateusjunges/laravel-acl/blob/master/CHANGELOG.md).

[2019-05-13 04:55] elmakong commented on #68
Would it be possible without directly calling illuminatedb
`DB::table('permissions')->insert();`

so it can be shorthanded just like the artisan command?
Maybe like this:
`Acl::createPerm('name','slug','optional-desc');`
`Acl::createGroup(name','slug','optional-desc');`

[2019-05-13 09:44] mateusjunges commented on #68
Yes, you can use the `permission` and `group` model:

[code]

[2019-05-13 18:03] #68 closed

[2019-05-14 13:25] mateusjunges opened #71 "Make description fields optional"
- [x] Add `nullable` to descritption columns on `groups` and `permissions`

[2019-05-14 22:56] #67 closed

[2019-05-14 22:56] #71 closed

[2019-05-16 23:27] soyjonathanespinosa opened #73 "Error in $user->syncPermissions"
I am testing the $user->syncPermissions(); but when you not send any permission (Null) it giving me:

Argument 1 passed to App\User::syncPermissions() must be of the type array, null given, called in

The problem is this function:

public function syncPermissions(array $permissions)
    {
        $permissions = $this->convertToPermissionIds($permissions);
        if ($permissions->count() == 0)

[2019-05-16 23:32] mateusjunges commented on #73
I think you are trying to remove all user permissions. Am i right?

[2019-05-17 18:11] soyjonathanespinosa commented on #73
Yes I am testing removing all permissions, I have 1.1.

[2019-05-17 18:14] soyjonathanespinosa commented on #73
Another question, how can I sync groups to a user?. like syncPermissions?

[2019-05-17 18:18] mateusjunges commented on #73
In this version you should use `revokePermissions()` to remove user permissions. It can accept an array of permissions, as documented on [README.md](https://github.com/mateusjunges/laravel-acl/tree/1.1.1#1---revoke-permissions-from-user) file.  The `syncGroups()` method will be implemented in next package release. I think you can upgrade to `1.7.0` which has `revokeAllPermissions` method, that sho

[2019-05-17 18:21] soyjonathanespinosa commented on #73
Ok will update. Thank you

[2019-05-17 21:43] #73 closed

[2019-05-24 02:28] TuplesDev opened #75 "Customize Migration Problem"
**Describe the bug**
Customized migration table doesn't get reflected when running _php artisan migrate_.
Migration process will use migration defined in _[root]/vendor/mateusjunges/laravel-acl/src/database/migrations/***.php_ and not from _[root]/database/migrations/vendor/junges/acl/***.php_.

**To Reproduce**
Test using version 1.7.1
Steps to reproduce the behavior:
1. Run command _php artisan

[2019-05-24 15:34] #75 closed

[2019-05-24 16:22] mateusjunges commented on #75
I have added a way to customize you tables in the last release, [1.7.2](https://github.com/mateusjunges/laravel-acl/tree/1.7.2)

You can update you package version, and add the `custom_migrations => true` to the `config/acl.php` file. With this new config, laravel will look for migrations inside the `database/migrations/vendor/junges/acl/` folder, where you can customize the files that you need.

[2019-05-25 17:27] mateusjunges commented on #75
Did this solve your problem?

[2019-05-26 03:08] TuplesDev commented on #75
Yes, thats solved it. Thanks..

[2019-06-04 22:15] mateusjunges opened #77 "Check permissions based on wildcards"
# Check permissions based on wildcards
Using strings allows us to write permissions with wildcards, like
`users.*` (check for users who has any permissions related to users, like `users.create` or `users.delete`).
To make this work, her's an example of code we could use to check if a given User has permissions for something:

[code]
Iterating through permissions filtering those which correspond to

[2019-06-04 22:30] mateusjunges opened #78 "Permissions hierarchy middleware"
Let's look at what permissions there are for this example:

* admin
* admin.auth
* admin.auth.user
* admin.auth.user.modify
* admin.auth.user.modify.create

Checks permissions in a hierarchical structure, this permission **admin.auth.user.modify.create** will check for all of above permissions.

Inspirated on [this issue](https://github.com/spatie/laravel-permission/issues/440)

[2019-06-12 04:23] mateusjunges opened #93 "remove unused loadObservers function"
Remove unused `loadObservers` function on Package Service Provider [here](https://github.com/mateusjunges/laravel-acl/blob/994e18ddf1dc0bf7f3eb25cd9194b5011cf653a4/src/ACLServiceProvider.php#L103)

[2019-06-13 06:17] #93 closed

[2019-06-17 22:30] #78 closed

[2019-07-04 04:42] #77 closed

[2019-07-11 23:32] rakk7 opened #109 "Make permission slug to be unique?"
I am not sure if this is a bug.. but shouldn't be the permissions's slugs to be a unique? same as groups..

https://github.com/jungessolutions/laravel-acl/blob/513ef3adb3a615d30613c55a41911e0a563922cc/src/database/migrations/2019_03_16_005237_create_permissions_table.php#L20

[2019-07-11 23:45] mateusjunges commented on #109
Yeah it should be unique.
Think I made a mistake while removing the `->billable(false)` from the description field.
You can send a pull request if you feels comfortable or I'll fix it in about 1 hour.

Thanks @rakk7 !

[2019-07-12 01:54] #109 closed

[2019-07-12 01:56] mateusjunges commented on #109
@rakk7 fixed with #110

[2019-07-12 01:57] mateusjunges opened #111 "PHP 7.4 TravisCI failures"
The package tests for PHP 7.4 on TravisCI return 3 errors:

[code]

[2019-07-19 07:18] ACvijic opened #112 "Eager loading Permissions & Groups"
### Issue:
When checking for permissions via blade directives, each check results in a new DB query. Granted, these queries take between 200 & 500 μs, but consider the following use-case:
I have a sidebar. For each link in that sidebar, I want to check user permissions. How many links I have there equals to how many queries I'll have when rendering each page.

### Sugestions:
I tried eager loading

[2019-07-19 19:11] mateusjunges commented on #112
Hi @ACvijic ,
You mean somenthing like cached permissions?

[2019-07-19 19:50] ACvijic commented on #112
Yes, something like that. I called the feature request "eager loading" because the first thing that came to mind as a possible solution was Laravel's [eager loading concept](https://laravel.com/docs/5.8/eloquent-relationships#eager-loading).

[2019-07-19 22:31] mateusjunges commented on #112
I'll spent some time thinking about it this week.
First thing that come to my mind is to load the permissions and groups to the `User` model, and modify the `hasPermission` function to look at the eager loaded permissions instead of the database.
If you have some idea, feel free to send a PR with your implementation.

[2019-07-21 08:30] mateusjunges opened #113 "Ability to use the package to control any model permissions"
Add ability to use the package to control all model permissions.

[2019-07-22 06:20] ACvijic commented on #112
Thanks for taking the time to think about this! :slightly_smiling_face:
I'll try and make a PR by tomorrow.

[2019-07-25 09:51] ACvijic commented on #112
#114
I'm a bit late, but I think I've cracked it! :sweat_smile:

[2019-07-26 21:20] mateusjunges commented on #112
Fixed with #114

[2019-07-26 21:20] #112 closed

[2019-08-01 14:39] mateusjunges commented on #111
Symfony/console fixed this error yesterday (31/07/2019).
symfony/symfony#32806

[2019-08-07 04:41] mateusjunges opened #124 "Allow array as parameter for `syncPermissions()` function."
Add this line to the `convertToPermissionIds()` method:

[code]

It allow you to use arrays as params for this function.

[2019-08-07 13:21] #124 closed

[2019-08-07 18:51] mateusjunges opened #127 "Allow user to revoke a user permission even if attached through a group"
Change the `revokePermission()` method to revoke user permissions even if it is assigned through a permissions group.

[2019-08-13 12:23] #113 closed

[2019-08-30 04:04] mateusjunges commented on #111
Fixed. See [TravisCI][1]

[1]: https://travis-ci.org/mateusjunges/laravel-acl/builds/568858674

[2019-08-30 04:04] #111 closed

[2019-09-01 16:00] mateusjunges commented on #127
It will require to revoke a group permission, and if you have other users assigned to that specific group, these users will also lose the permission.

[2019-09-01 16:00] #127 closed

[2019-09-27 17:00] mateusjunges opened #132 "Add page for README docs"
Add the [README][1] docs to a page into the `docs` folder, to be hosted with Github pages.

More info [here][2]

[1]: https://github.com/mateusjunges/laravel-acl
[2]: https://help.github.com/en/articles/configuring-a-publishing-source-for-github-pages

[2019-09-29 16:17] justasLab opened #133 "Probably bug with group() scope in UsersTrait"
I want to get users who belong to admin group. I use this method:
$users = User::group('admin')->get();

Unfortunately this method returns a list of all users. So here's the bug or am I doing something wrong?

[2019-09-30 22:53] mateusjunges commented on #133
@justasLab I fixed the bug and will tag a new release tomorrow by morning. Thanks for your report.

[2019-10-01 00:29] #133 closed

[2019-10-01 00:33] mateusjunges commented on #133
@justasLab I fixed the bug with the [2.1.1](https://github.com/mateusjunges/laravel-acl/tree/2.1.1) release. Thanks for your report.

[2019-10-01 16:51] kimyvgy commented on #132
Hi, I would like to take this issue.

[2019-10-01 16:52] mateusjunges commented on #132
@kimyvgy you're welcome!

[2019-10-01 21:02] mateusjunges opened #137 "Add ignition solutions to Laravel ACL exceptions"
This is the documentation about [custom solutions][1] with ignition.

[1]: https://flareapp.io/docs/solutions/adding-custom-solutions

[2019-10-03 13:34] ReeceM commented on #137
I would be happy to work on this. ?

[2019-10-03 13:41] mateusjunges commented on #137
You are welcome!

[2019-10-12 16:22] #132 closed

[2019-10-17 21:23] mateusjunges commented on #137
Fixed with #141

[2019-10-17 21:23] #137 closed

[2019-10-18 08:46] ACvijic opened #143 "Facade\IgnitionContracts\SolutionProviderRepository not instantiable"
Due to the recent `2.2.0` [update](https://github.com/mateusjunges/laravel-acl/pull/141), which added ignition solutions, I can't get your package to work :sweat_smile:
At least I think this is the culprit. Here's the stack trace:

[code]

When I revert to version `2.1.1` the bug goes away.

[2019-10-18 09:53] mateusjunges commented on #143
@ACvijic I'll take a look at this as soon as possible. If it is not a problem for you, use v2.1.1 for now. Thanks for your report

[2019-10-18 10:29] ACvijic commented on #143
@mateusjunges no problem!
Thanks for the quick reply! :slightly_smiling_face:

[2019-10-18 11:51] mateusjunges commented on #143
@ACvijic which laravel and php version are you using? I can't reproduce this error.

[2019-10-18 11:54] ACvijic commented on #143
@mateusjunges

Laravel `6.3.0`
PHP `7.2.1`

[2019-10-18 14:10] mateusjunges commented on #143
This is myenvironment config, and i still not able to reproduce this error.

**Environment information**
**Laravel version:** 6.3.0
**Laravel locale:** en
**PHP version:** 7.2.19-0ubuntu0.18.04.2

**Package installation**
 - `composer require mateusjunges/laravel-acl`
- `php artisan acl:install`

Are you doing something different?

[2019-10-18 14:21] ACvijic commented on #143
I just added it to my `composer.json`, then ran `composer install` - this is the only difference.

I am running my Laravel app in a Docker container, maybe it's something on my end... I'll try to get to the bottom of it next week and I'll keep you posted if I find anything.

[2019-10-18 14:25] mateusjunges commented on #143
I'll make tests with  `Docker` tonight. Let me know if you figure out anything new.

[2019-10-18 21:30] ReeceM commented on #143
Hi @ACvijic, quick question, in your composer file, have you got `"facade/ignition": "^1.4"` as a composer dev dependency?

[2019-10-18 22:27] #143 closed

[2019-10-18 22:30] mateusjunges commented on #143
@ACvijic i will release 2.2.1 to fix this issue in ~10 minutes. Let me know if it solve your problem.

[2019-10-21 08:42] ACvijic commented on #143
Sorry to report, #144 didn't fix it for me.

I previously had `mateusjunges/laravel-acl` at `2.1.1` to avoid the bug at version `2.2.0`; To test out @ReeceM 's fix I set `mateusjunges/laravel-acl` to `^2.1`, which brought it to version `2.2.1`, and I didn't change anything else about my `composer.json`. Still the error persisted. Here's the stack trace:

[code]

Then I followed @ReeceM 's previous

[2019-10-21 12:22] ReeceM commented on #143
Hi @ACvijic, glad that you have it working now 😃 .

With regards:

I had my local copy of `laravel-acl` installing `facade/ignition` when I required it into a local app, but this was using a local repository reference in the app's `composer.json` file, but I think that worked only 'cause it pulled in the `facade/ignition` package even thought it's in `require-dev` of laravel-acl.

But when it pull

[2019-10-21 12:46] ReeceM opened #146 "Move facade/ignition to composer require"
Hi Mateus,

With regards the latest addition of the ignition solutions (#141) to the package and the addition of the `facade/ignition` package (#144) to make the ignition contracts work because they are bound to the container in the actual ignition package, I initially added it to the require-dev section of `laravel-acl`'s composer file as it functioned locally, 'it worked for me' situation .... 😄

[2019-10-21 13:10] mateusjunges commented on #146
I think the best solution is to make the ignition solutions an opt-in using the config file. You are welcome to open a PR fixing it. Thanks!

[2019-10-21 13:34] ReeceM commented on #146
@mateusjunges, okay I will have a look at it, it may not be immediately that i make a PR though, if thats alright?

---
If its made an opt-in, would you prefer then the `facade/ignition` requirement stays then as a dev on and it suggest the requirement on install via composer and also the artisan command?

[2019-10-21 14:04] mateusjunges commented on #146
Yeah that's ok.
I think if we made it opt-in, the ignition can stay as a dev requirement, and install using artisan/composer.

[2019-10-21 23:49] #146 closed

[2019-11-08 22:05] moazam1 opened #153 "Is this compatible with mongodb?"
Hi, curious if this package is compatible with mongodb? Thanks

[2019-11-09 20:38] mateusjunges commented on #153
I never used laravel with MongoDB, so i can't answer your question now. I'll create a fresh laravel install tonight and check if this package work well.

[2019-11-09 21:54] moazam1 commented on #153
thank you!

[2019-11-19 17:48] VegaTom opened #154 "Exception at UsersTrait:200 when revokingGroup from User"
When trying to revoke groups from user by passing an array of slugs there is an exception (notice) and group isnt revoked:
[code]
![image](https://user-images.githubusercontent.com/25960724/69171717-7a50ab00-0aca-11ea-95ac-9abcfdca8a54.png)

Line 200 should be return $_group->id instead of return $group->id;
![image](https://user-images.githubusercontent.com/25960724/69171915-d61b3400-0aca-11ea-94

[2019-11-19 18:00] mateusjunges commented on #154
@VegaTom thanks for your report. Feel free to send a PR to fix it. Otherwise, i'll do it as soon as i came home.

[2019-11-19 19:55] VegaTom commented on #154
No worries, i will w8. :)

[2019-11-20 03:14] mateusjunges commented on #154
@VegaTom Which version of this package are you using? (Check in your `composer.json` file).
This bug has been fixed with the release `2.0.0`.
Check it here:
https://github.com/mateusjunges/laravel-acl/blob/cf43e31457194cfcd2a55883cfeb9957b028eec4/src/Traits/UsersTrait.php#L207

To upgrade your package to the last version, change the version in your `composer.json` file and run `composer update`.

[2019-11-20 13:06] VegaTom commented on #154
didnt realice i was using 1.8. Thanks :)

[2019-11-20 13:07] mateusjunges commented on #154
Glad that i can help you :)

[2019-11-20 13:07] #154 closed

[2019-12-27 17:25] mateusjunges commented on #153
@moazam1 sorry for my late response.
I think we can't use it with MongoDB, since laravel relations works different way with mongodb. ATM, i can't find any work around for that.
I tried to replace the package models with new ones, extending `Jenssegers\Mongodb\Eloquent\Model` (as explained in [jessengers/mongodb][1] docs), but it does not work.

[1]: https://github.com/jenssegers/laravel-mongodb

[2019-12-27 17:26] #153 closed

[2019-12-30 18:00] mosi3883 opened #155 "can't sync group from user"
the **UsersTrait** needs have **syncGroup** method
i know i can use some thing like
[code]

but code has **syncPermissions** so i think u should add this one too

[2019-12-30 20:27] mateusjunges commented on #155
Hi @mosi3883, first of all, thanks for your suggestion. I'll consider implementing this after the hollidays.
Thank you!

[2020-01-03 19:21] mateusjunges commented on #155
@mosi3883 added in #157

[2020-01-03 19:21] #155 closed

[2020-01-03 21:49] mateusjunges commented on #155
Forgot to mention, but you can upgrade to version 2.3.0 to use this new feature.

[2020-01-05 18:11] mosi3883 opened #158 "Documents lacks some important functions"
**UserTrait**  has a two important functions hasGroup() and hasPermission() but [documents](https://mateusjunges.github.io/laravel-acl/guide/usage.html#checking-for-permissions) lacks hasGroup() function

[2020-01-06 04:25] mateusjunges commented on #158
I'll update the docs asap. Thanks!

[2020-01-11 20:31] #158 closed

[2020-03-12 03:10] keatwei opened #169 "How to customize Models to Admin"
I have 2 logins (User and Admin)
How do I customize the package to use Admin model?

[2020-03-12 12:02] mateusjunges commented on #169
@keatwei The documentation about replacing and extending this package models [can be found here][1]. I don't know if you are adding this package to a fresh laravel installation or an existing one, but if it is a fresh installation, isn't it better to have to groups, `users` ans `admins`, instead of having a login system for each one?

BTW, you can find the [laravel docs][laravel-docs] about guards

[2020-03-18 03:30] mateusjunges commented on #169
@keatwei any updates on this?

[2020-03-18 23:43] mateusjunges opened #170 "Add support for route model binding"
Add route model binding for permission and group models.

[2020-03-19 17:44] #170 closed

[2020-03-19 21:04] mateusjunges commented on #169
I'm closing this due to lack of feedback.

[2020-03-19 21:04] #169 closed

[2020-04-21 06:36] mateusjunges opened #173 "Make the admin configurable."
Make the `admin` permission configurable via configuration file.

[2020-04-21 07:13] #173 closed

[2020-05-06 17:00] pravnkay commented on #20
Can we detect on basis of which permission missing, the exception is thrown ? I could really use that to reduce a lot of unwanted manual code in my app.

Like, if the exception is thrown because of mission permission: A or B or C.

[2020-05-06 17:06] mateusjunges commented on #20
Hi @pravnkay, just to be clear, you mean to show the missing permission in the exception message?
For example:

[2020-05-06 17:28] pravnkay commented on #20
I need to catch the list of denied permissions in handler.php when defining custom handlers.
The current exception is :
[code]

but, how about this : (look after the error message)

[code]

Hope I am clear about that.

[2020-05-06 17:31] mateusjunges commented on #20
@pravnkay can you please open an issue with a feature request? I think we can discuss it better there.

[2020-05-06 18:05] pravnkay opened #175 "Catching the denied permissions/groups list in the custom handler's exception"
**Is your feature request related to a problem? Please describe.**

When permissions are denied using the built-in middlewares, there is no list of denied permissions/groups being passed on with the exception to the custom handler. I would like to catch them along with the 403 denied message.

Example:

	Route::middleware('permissions:One', 'permissions:Two', 'permissions:Three')->group(function()

[2020-05-06 18:07] pravnkay commented on #20
Opened https://github.com/mateusjunges/laravel-acl/issues/175#issue-613509719

[2020-05-07 14:59] mateusjunges commented on #175
Good morning @pravnkay, can you share the code you used to make it work for you?
The package currently throws a 403 exception and denies access as soon as it finds the first permission to which the user does not have access. I'm thinking about performance issues if I need to go through all permissions in a loop to return all permissions to which the user has been denied access.

[2020-05-07 15:51] pravnkay commented on #175
@mateusjunges Hi. A very good morning.
I was trying to workout a makeshift way through this problem yesterday and it didn't turn out as I hoped for. I will share any updates I have on this as soon as I do.

Regarding, performance issue to loop through all the permissions
I guess it won't matter as long as the logic needs it.

Like, $user->hasAnyPermission,
how about a separate $user->hasPermission

[2020-05-08 06:29] pravnkay commented on #175
Okay, I have solved my problem, with a GroupNot Middleware.

Let me explain my problem before saying what I did.

I have two areas of my application

1. domain/app - app area
2. domain/admin - admin area

admin area is protected by `groups:` middleware. ( `->middleware('groups:admin')` )

I don't want group _admin_ to access the app area.
I have a specific group as _admin_user_ for that.

Also, ap

[2020-05-11 17:44] mateusjunges commented on #175
Helo @pravnkay, i like your approach to add a route where the user can be redirected to, and i will probably add it to the package with the list of denied permissions/groups as soon as i have time to work on it. If you want, feel free to submit a PR adding it to this package, making sure it is covered by new tests.

[2020-05-23 13:49] Luizgpp opened #178 "Uma tabela a mais para atribuir setores"
Ola Mateus tudo bem? Obrigado pelo seu conhecimento e fornece-lo pra todos!

Gostaria de tirar uma duvida e talvez essa dúvida pode surgir uma nova funcionalidade no ACL.

Tenho uma necessidade de criar uma tabela de setores (setores de uma empresa, RH, Diretoria, Marketing, etc) e em cada setor os usuários teriam "Roles" e "Permissions".
EX:
João - Diretoria -Admin - todas as permissões

Mas ele

[2020-05-23 23:55] mateusjunges commented on #178
Olá @Luizgpp
No momento, o pacote não possui a funcionalidade de gerenciar as permissões de multiplos models, que seria o caso aqui. Você precisa armazenar tanto permissões para usuários e grupos quanto para setores. Assim, o usuário que pertence a um setor com permissão X tem acesso a áreas do sistema que dependem dessa permissão. Você precisa implementar esta lógica manualmente em seu sistema. V

[2020-05-24 15:23] Luizgpp commented on #178
Nossa, obrigado pela ajuda. Não é tão simples como pensei. Irei ver como posso resolver isso.

Obridago!!

[2020-06-01 04:28] #178 closed

[2020-08-11 07:30] CreativeBulma opened #185 "Wrong User class used by artisan command"
Hi,

we can modify the User class to use in `acl.php` config file but UserPermisison command file (`Console/Commands/UserPermissions.php`) is still using the default `App\User` class. Which leads in error when running artisan command `php artisan user:permissions 1`.

[code]

[2020-08-11 12:36] mateusjunges commented on #185
Good morning @CreativeBulma,

Thank you for your report. I'll release a minor version with this bug fix.

[2020-08-11 12:59] mateusjunges commented on #185
@CreativeBulma fixed with version [2.4.6](https://github.com/mateusjunges/laravel-acl/tree/2.4.6)

[2020-08-11 12:59] #185 closed

[2020-08-11 13:09] CreativeBulma commented on #185
thanks a lot for the reactivity.

[2020-09-11 07:31] ITDeveloperDotUz opened #197 "There is no permission with this slug"
**I am getting an error when assigning  a permission to my user**

My UserController.php file:
[code]

a permiision with that slug exists in db in permissions table, But it shows an exception:
**There is no permission with this slug: 'c-order'**
I didn't change anything in config files

[2020-09-11 11:41] mateusjunges commented on #197
Good morning,
Which laravel, php and laravel-acl version are you using?

[2020-09-11 15:45] ITDeveloperDotUz commented on #197
I'm using:
php: 7.3.20
laravel: 7.0
laravel-acl: 2.3

[2020-09-11 20:53] mateusjunges commented on #197
Laravel ACL only added support for laravel v7.x on version [2.4.0](https://github.com/mateusjunges/laravel-acl/tree/2.4.0) and higher.

The version 2.3 of this package are tested only with laravel v5.6, v5.7, v5.8 and v6.x.
Can you try to upgrade your laravel-acl dependency?

[2020-09-12 02:59] ITDeveloperDotUz commented on #197
Hi!
I upgraded laravel-acl to 2.5 and getting the same error

[2020-09-12 03:20] ITDeveloperDotUz commented on #197
I solved this issue!
in my view I changed input name
From:
[code]

To
[code]

Simply I removed the single quotes. So in my controller I didn't change anything.
it caused an error because It took a slug including single quotes
`"'c-order'"`
And now after removing it works.

[2020-09-12 03:20] #197 closed

[2020-09-12 03:27] mateusjunges commented on #197
Glad you solved it 😃

[2021-04-29 18:11] metif12 opened #210 "The `can` directive does not work"
blade diractive @can and auth()->user()->can($permission) not work!
@permission is good

[2021-04-29 19:08] mateusjunges commented on #210
Hi @metif12, can you add your code to the issue?

[2021-04-29 19:52] metif12 commented on #210
Hi,
i was using the package like this:
Route::view('/', 'nAdmin.holes')
->middleware('permissions:admin-view-holes')
->name('holes');
and @can directive in the layouts.
i does all setup in the manual. it was working but we received an issue about permissions are not working.
when i check it in tinker i found every things are ok but just result of can as function of User model is wrong.
![image](ht

[2021-04-30 14:35] metif12 commented on #210
hi, i guess it was because of overwite isAdmin function in user Model

[2021-04-30 14:42] mateusjunges commented on #210
Can you add the `isAdmin` function you have in your model?

[2021-04-30 17:04] metif12 commented on #210
we have multipanel structure and admin is a model. so we define a isAdmin function in user model to determine if a user is admin or not. i sugest to rename isAdmin to isSuperAdmin at UsersTrait. that is more specific and less possible to overwrite.

[2021-05-03 22:56] mateusjunges commented on #210
@metif12 i think it's better to rename your `isAdmin` function. If i rename the function in this package i'll need to tag a new major version because it introduces breaking changes. You can do it easily in your project using IDE helpers.

[2021-05-03 22:56] #210 closed

[2021-06-22 00:11] gnguyo opened #221 "Error when checking permission for user without direct permission but has group permissions."
**Describe the bug**
Library throws error when checking user permission that does not have any permission but is assigned to a group with a permission.
Error: Call to a member function where() on null
File: mateusjunges\laravel-acl\src\Traits\UsersTrait.php:76

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure user has no direct permission assigned.
2. Create new group
3. Create new perm

[2021-06-22 20:02] mateusjunges commented on #221
Hi @gnguyo, which version of Laravel  and laravel-acl are you using? The tests for this case are passing and i followed your steps to reproduce the bug, but it's working fine for me.

[code]

This is the result:

[code]

[2021-06-23 02:12] gnguyo commented on #221
Apologies, seems it was a custom library i was using which was initializing the permission attribute as null.

[2021-06-23 02:12] #221 closed

[2021-06-23 04:29] mateusjunges commented on #221
@gnguyo thanks for the update.

[2022-01-04 12:53] DennisBrieske opened #240 "Documetation Link broken with 404 Error"
Hey Mateus,

i think anything is wrong with Documentation Link: https://mateusjunges.github.io/laravel-acl/
It produce a 404 Error "Filenot Found"

Best greetings
Dennis

[2022-01-04 13:00] mateusjunges commented on #240
Hi @DennisBrieske
thanks for letting me know. I'm making some adjustments in the master branch because the next major version will be documented in my personal website, so i removed some files from the docs folder in that branch. I updated the gh pages configuration to be built from the `3.x` instead of `master`. It should be ok now.

[2022-01-04 13:02] #240 closed

[2022-03-08 11:45] metif12 opened #248 "support laravel 9 with php8.1"
this package is not compatible with laravel 9 and php8.1. error whe trying to install:
  Problem 1
    - Root composer.json requires mateusjunges/laravel-acl ^3.0 -> satisfiable by mateusjunges/laravel-acl[3.0.0, 3.0.1, 3.x-dev].
    - mateusjunges/laravel-acl[3.0.0, ..., 3.x-dev] require illuminate/auth ^7.28|^8.0 -> found illuminate/auth[v7.28.0, ..., 7.x-dev, v8.0.0, ..., 8.x-dev] but these wer

[2022-03-11 08:55] metif12 commented on #248
thank you.

[2022-03-21 12:23] mateusjunges commented on #248
@metif12 laravel 9 support released on v3.0.2

[2022-03-21 12:23] #248 closed

[2022-03-23 10:58] TheTankFrank commented on #133
Laravel Says:
Trait "App\Models\UserTrait" not found

[2022-03-23 10:59] TheTankFrank opened #253 "UsersTrait not exist"
I will use ACL. Installing is not the Problem.

When i add usersTrait. Laravel Says:
Trait "App\Models\UserTrait" not found.

I have reinstall but i get the error again.

not Exist
use Junges\ACL\Concerns\UsersTrait;

I use Laravel Version is 9.5.1 .

And when i use

php artisan permission:create

Shell ask:

slug not esist in table.

[2022-03-23 11:02] TheTankFrank commented on #253
My Laravel Version is 9.5.1 .

[2022-03-23 11:29] TheTankFrank commented on #253
OK, Version 4 not work for me. I use Version 3.0.2 and it work

[2022-03-24 13:06] mateusjunges commented on #253
Hi @TheTankFrank, i'll take a look and fix this command in v4. Thanks for reporting.

[2022-04-12 14:03] #253 closed

[2022-06-03 16:09] QuindoHL opened #256 "Fresh install error message: Cannot assign null to property Junges\ACL\AclRegistrar::$permissionClass of type string"
When running the following command during setup I get this error.  I am not sure if it is related to the other issue.

[code]

When attempting to browser the newly created laravel project I get the following error.

[code]

I am assuming that the issue is that the config file is not getting published but I have not deep dived into it yet.  I wanted to alert you about this real quick before I got p

[2022-06-06 13:17] mateusjunges commented on #256
Hi! Thanks for reporting, I'll look into it later today

[2022-06-06 17:34] #256 closed

[2022-06-06 17:37] mateusjunges commented on #256
@QuindoHL fixed and released in v4.1.1. Again, thanks for reporting this.

[2022-09-27 19:22] markplus opened #259 "Cannot assign null to property Junges\ACL\AclRegistrar::$cacheKey of type string"
I have updated from Laravel 8 to Laravel 9 but now I get an error that I can't find solutions on the net, I don't know what to do

Error
PHP 8.1.6
9.32.0
Cannot assign null to property Junges\ACL\AclRegistrar::$cacheKey of type string

[2022-10-12 20:12] quindo commented on #259
Pretty sure you are running into this issue because you did not delete the old config/acl.php file.